.achievements__section {
  text-align: center;
  background-color: #f64c72;
  color: white;
}

.achievements__section-title {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

.achievements__section-desc {
  text-wrap: balance;
}
