@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
  &__section {
    @include flex-center;

    flex-direction: column;
    padding: $footer-padding-small;
    gap: $footer-gap;
    text-align: center;

    @media (min-width: 890px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1430px) {
      padding: $footer-padding-large 7rem;
    }
  }

  &__section-text {
    font-size: 0.8rem;
    font-family: $font-secondary;
    padding: 1rem;
  }

  &__section-icons {
    @include flex-center;
    gap: $icon-gap;
  }
}
