@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header {
  &__nav {
    @include flex-between;

    padding: $nav-padding;
  }

  &__menu {
    display: none;

    &-links {
      @include flex-center;

      flex-direction: row;
      gap: $menu-gap;
      padding: 1rem;

      > li {
        list-style-type: none;
        font-family: $font-secondary;
      }
    }
  }

  &__nav-img {
    width: 100%;
    height: $img-small-height;
  }

  @media (min-width: 890px) {
    &__nav {
      flex-direction: column;
    }

    &__nav-menu--mobile {
      display: none;
    }

    &__menu {
      display: flex;
    }
  }

  @media (min-width: 1430px) {
    &__nav-img {
      height: $img-large-height;
    }
  }
}
