$primary-font: 'Open sans', serif;
$nav-padding: 1.2rem;
$menu-gap: 3rem;
$img-small-height: 7rem;
$img-large-height: 8rem;

.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $nav-padding;
  }

  &__menu {
    display: none;

    &-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: $menu-gap;
      padding: 1rem;

      > li {
        list-style-type: none;
        font-family: $primary-font;
      }
    }
  }

  &__nav-img {
    width: 100%;
    height: $img-small-height;
  }

  @media (min-width: 890px) {
    &__nav {
      flex-direction: column;
    }

    &__nav-menu--mobile {
      display: none;
    }

    &__menu {
      display: flex;
    }
  }

  @media (min-width: 1430px) {
    &__nav-img {
      height: $img-large-height;
    }
  }
}
