$primary-font: 'Mulish', sans-serif;
$secondary-font: 'Open sans', serif;
$primary-color: #f64c72;
$light-text-color: #bbc8d4;
$hero-padding-small: 2rem 1rem;
$hero-padding-large: 5rem;
$hero-padding-xlarge: 6rem;
$hero-title-size-small: 2.6rem;
$hero-title-size-large: 4rem;
$hero-desc-size-small: 0.8rem;
$hero-desc-size-large: 1.5rem;
$hero-input-width-small: min-max(50%, 60%);
$hero-input-width-large: 40%;

.hero {
  background-image: url('../../assets/images/hero-background.png');
  background-position: center;
  background-blend-mode: overlay;

  &__content {
    color: white;
    text-align: center;
    padding: $hero-padding-small;

    @media (min-width: 898px) {
      padding: $hero-padding-large;
    }

    @media (min-width: 1430px) {
      padding: $hero-padding-xlarge;
    }
  }

  &__content-title {
    font-size: $hero-title-size-small;
    font-weight: 800;
    font-family: $primary-font;
    padding: 1rem;

    @media (min-width: 1430px) {
      font-size: $hero-title-size-large;
    }
  }

  &__content-desc {
    font-size: $hero-desc-size-small;
    font-weight: 700;
    text-wrap: balance;
    font-family: $secondary-font;

    @media (min-width: 1430px) {
      font-size: $hero-desc-size-large;
      padding: 0 1rem;
      text-wrap: balance;
    }
  }

  &__content-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-top: 3rem;
    gap: 1rem;

    @media (min-width: 898px) {
      flex-direction: row;
    }

    .hero__content-bottomInp {
      border: none;
      padding: 1rem;
      width: $hero-input-width-small;

      @media (min-width: 898px) {
        width: $hero-input-width-large;
      }

      &::placeholder {
        color: $light-text-color;
      }
    }

    .hero__content-btn {
      background-color: $primary-color;
      border: none;
      color: white;
      padding: 1rem;
    }
  }
}
