.mission__section {
  background-color: #f64c72;
  color: white;
  text-align: center;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission__section-img {
  display: none;
}

.mission__section-heading {
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.mission__section-descOne,
.mission__section-descTwo {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
}

.mission__section-descTwo {
  padding-bottom: 4rem;
}

.mission__section-btn {
  border: 2px solid white;
  padding: 1rem 3rem;
  background-color: transparent;
  color: white;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

@media (min-width: 900px) {
  .mission__section {
    padding: 3rem 14rem;
  }

  .mission__section-descOne.mission__section-descTwo {
    font-size: 1.3rem;
  }
}

@media (min-width: 1430px) {
  .mission__section {
    padding: 0;
  }

  .mission__section-body {
    padding-left: 10rem;
    padding-right: 10rem;
    border: 1rem solid green;
  }

  .mission__section-img {
    display: flex;
  }
}
