@use '../utils/variables' as *;

.mission {
  &__section {
    background-color: $primary-color;
    color: $white-color;
    text-align: center;
    padding: $section-padding-small;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 900px) {
      padding: $section-padding-small $section-padding-large;
    }

    @media (min-width: 1430px) {
      padding: $section-padding-xlarge;
    }
  }

  &__section-img {
    display: none;

    @media (min-width: 1430px) {
      display: flex;
    }
  }

  &__section-heading {
    font-family: $font-primary;
    font-size: $font-size-large;
    margin-bottom: 3rem;
    font-weight: 700;
  }

  &__section-descOne,
  &__section-descTwo {
    font-family: $font-primary;
    font-weight: 600;
    font-size: $font-size-small;
    padding: 1rem;
  }

  &__section-descTwo {
    padding-bottom: 4rem;
  }

  &__section-btn {
    border: 2px solid $white-color;
    padding: $btn-padding;
    background-color: transparent;
    color: $white-color;
    border-radius: $btn-radius;
  }

  @media (min-width: 900px) {
    &__section-descOne,
    &__section-descTwo {
      font-size: $font-size-medium;
    }
  }

  @media (min-width: 1430px) {
    &__section-body {
      padding: 0 10rem;
    }
  }
}
