@use '../utils/variables' as *;

$font-size-heading: 1.2rem;
$card-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15), 0px 4px 6px rgba(0, 0, 0, 0.1);

.what {
  &__section {
    padding: 2rem 0;

    &-title {
      color: $secondary-color;
      width: fit-content;
      font-size: $font-size-title;
      margin: 0 auto;
      font-family: $font-primary;
      text-decoration: underline;
      text-underline-offset: 0.6rem;
      text-decoration-thickness: 2px;
      text-decoration-color: $primary-color;
      -moz-text-decoration-color: $primary-color;
    }

    &-cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: $gap;
      padding: $section-padding;

      @media (min-width: 890px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1.2rem;
        padding: 2rem 4rem;
      }

      @media (min-width: 1430px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 2rem 8rem;
      }
    }

    &-card {
      box-shadow: $card-shadow;
      text-align: center;
      margin: 0 auto;
      padding: $card-padding;
      background-color: white;
    }

    .what__card-heading {
      font-family: $font-primary;
      font-size: $font-size-heading;
      padding: 1rem;
      color: $secondary-color;
    }

    .what__card-desc {
      color: $text-color;
      opacity: 0.7;
      font-size: $font-size-desc;
      font-family: $font-secondary;
    }
  }
}
