@use '../utils/variables' as *;

.work {
  &__section {
    background-color: $primary-color;
    text-align: center;
    color: $white-color;
    padding: $padding-section;
  }

  &__content {
    &-heading {
      font-family: $font-primary;
      font-weight: 600;
      font-size: $font-size-heading;
    }

    &-desc {
      font-family: $font-secondary;
      font-size: $font-size-desc;
      padding: 1rem;
      padding-bottom: 2rem;
    }

    &-inp {
      padding: 1rem;
    }

    @media (min-width: 890px) {
      padding: $padding-section-lg;

      &-heading {
        font-size: 3rem;
        padding: 1rem 0;
      }

      &-desc {
        font-size: $font-size-desc-lg;
      }

      &-inp {
        width: $input-width-sm;
      }
    }

    @media (min-width: 1430px) {
      padding: $padding-section-xl;
    }
  }
}
